/* 初始化CSS */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,th,var{font-style:normal; font-weight:normal;}
ul,ol{list-style:none;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;}
table{border-collapse:collapse;}
body{background:#fff;color:#333;font:12px/22px 'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial';}
/* 页面通用部分 */
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}
a{color:#1f3b7b;text-decoration:none;}
a:visited{color:#6079b2;}
a:hover,a:active,a:focus{color:#8d0000;text-decoration:underline;}

body{background: url(../homeimages/back.jpg);}
.move-block{
	position: absolute;top:0;left:0;
	width:100px;height:100px;border:1px solid #fefefe;
	background: #123456;
}